<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="kysk.yogatrainer"
      android:versionCode="1"
      android:versionName="1.0">
      
      <uses-sdk android:minSdkVersion="4"/>
      
      <supports-screens 
      	android:smallScreens="true"
      	android:normalScreens="true"
      	android:largeScreens="true"
      	android:resizeable="true"
      	android:xlargeScreens="true"
      	android:anyDensity="true"/>

      
    <application android:icon="@drawable/ic_launcher" android:label="@string/app_name">
        <activity android:name=".YogaTrainerActivity"
                  android:label="@string/app_name"
                  android:theme="@android:style/Theme.Light"
                  android:screenOrientation="portrait">
        </activity>
         
        <activity android:name="StandingPosition"
        	android:theme="@android:style/Theme.Light"
        	android:screenOrientation="portrait"></activity>
        <activity android:name="SittingPosition"
        	android:theme="@android:style/Theme.Light"
        	android:screenOrientation="portrait"></activity>
        <activity android:name="SupinePosition"
        	android:theme="@android:style/Theme.Light"
        	android:screenOrientation="portrait"></activity>
        <activity android:name="PronePosition"
        	android:theme="@android:style/Theme.Light"
        	android:screenOrientation="portrait"></activity>
        <activity android:name="DrumPose"
        	android:theme="@android:style/Theme.Light"
        	android:screenOrientation="portrait"></activity>
        <activity android:name="DifficultPose"
        	android:theme="@android:style/Theme.Light"
        	android:screenOrientation="portrait"></activity>
        <activity android:name="EaglePose"
        	android:theme="@android:style/Theme.Light"
        	android:screenOrientation="portrait"></activity>
        <activity android:name="FerociousPose"
        	android:theme="@android:style/Theme.Light"
        	android:screenOrientation="portrait"></activity>
        <activity android:name="GraciousWarriorPose"
        	android:theme="@android:style/Theme.Light"
        	android:screenOrientation="portrait"></activity>
        <activity android:name="HandToLegPose"
        	android:theme="@android:style/Theme.Light"
        	android:screenOrientation="portrait"></activity>
        <activity android:name="HeadStandPose"
        	android:theme="@android:style/Theme.Light"
        	android:screenOrientation="portrait"></activity>
        <activity android:name="KitePose"
        	android:theme="@android:style/Theme.Light"
        	android:screenOrientation="portrait"></activity>
        <activity android:name="TreePose"
        	android:theme="@android:style/Theme.Light"
        	android:screenOrientation="portrait"></activity>
        <activity android:name="TrianglePose"
        	android:theme="@android:style/Theme.Light"
        	android:screenOrientation="portrait"></activity>
        <activity android:name="TwistedTrianglePose"
        	android:theme="@android:style/Theme.Light"
        	android:screenOrientation="portrait"></activity>
        <activity android:name="WarriorPose"
        	android:theme="@android:style/Theme.Light"
        	android:screenOrientation="portrait"></activity>
        <activity android:name="AuspiciousPose"
        	android:theme="@android:style/Theme.Light"
        	android:screenOrientation="portrait"></activity>
        <activity android:name="BalancePose"
        	android:theme="@android:style/Theme.Light"
        	android:screenOrientation="portrait"></activity>
        <activity android:name="BowPose"
        	android:theme="@android:style/Theme.Light"
        	android:screenOrientation="portrait"></activity>
        <activity android:name="CockerelPose"
        	android:theme="@android:style/Theme.Light"
        	android:screenOrientation="portrait"></activity>
        <activity android:name="CrowPose"
        	android:theme="@android:style/Theme.Light"
        	android:screenOrientation="portrait"></activity>
        <activity android:name="FoetusPose"
        	android:theme="@android:style/Theme.Light"
        	android:screenOrientation="portrait"></activity>
        <activity android:name="ForwardBend"
        	android:theme="@android:style/Theme.Light"
        	android:screenOrientation="portrait"></activity>
        <activity android:name="HalfLotusBoundPose"
        	android:theme="@android:style/Theme.Light"
        	android:screenOrientation="portrait"></activity>
        <activity android:name="LiftedLotus"
        	android:theme="@android:style/Theme.Light"
        	android:screenOrientation="portrait"></activity>
        <activity android:name="LionPose"
        	android:theme="@android:style/Theme.Light"
        	android:screenOrientation="portrait"></activity>
        <activity android:name="LotusPose"
        	android:theme="@android:style/Theme.Light"
        	android:screenOrientation="portrait"></activity>
        <activity android:name="MountainPose"
        	android:theme="@android:style/Theme.Light"
        	android:screenOrientation="portrait"></activity>
        <activity android:name="ScalePose"
        	android:theme="@android:style/Theme.Light"
        	android:screenOrientation="portrait"></activity>
        <activity android:name="SingleLegToHeadPose"
        	android:theme="@android:style/Theme.Light"
        	android:screenOrientation="portrait"></activity>
        <activity android:name="SingleToeBalancePose"
        	android:theme="@android:style/Theme.Light"
        	android:screenOrientation="portrait"></activity>
        <activity android:name="SwanPose"
        	android:theme="@android:style/Theme.Light"
        	android:screenOrientation="portrait"></activity>
        <activity android:name="ThunderboltPose"
        	android:theme="@android:style/Theme.Light"
        	android:screenOrientation="portrait"></activity>
        <activity android:name="TiedLotus"
        	android:theme="@android:style/Theme.Light"
        	android:screenOrientation="portrait"></activity>
        <activity android:name="ToeBalancePose"
        	android:theme="@android:style/Theme.Light"
        	android:screenOrientation="portrait"></activity>
        <activity android:name="BentArmCobraPose"
        	android:theme="@android:style/Theme.Light"
        	android:screenOrientation="portrait"></activity>
        <activity android:name="BoatPose"
        	android:theme="@android:style/Theme.Light"
        	android:screenOrientation="portrait"></activity>
        <activity android:name="CrocodilePose"
        	android:theme="@android:style/Theme.Light"
        	android:screenOrientation="portrait"></activity>
        <activity android:name="FishPose"
        	android:theme="@android:style/Theme.Light"
        	android:screenOrientation="portrait"></activity>
        <activity android:name="FullWheelPose"
        	android:theme="@android:style/Theme.Light"
        	android:screenOrientation="portrait"></activity>
        <activity android:name="GasReleasePose"
        	android:theme="@android:style/Theme.Light"
        	android:screenOrientation="portrait"></activity>
        <activity android:name="InvertedPose"
        	android:theme="@android:style/Theme.Light"
        	android:screenOrientation="portrait"></activity>
        <activity android:name="LegRaisedPose"
           	android:theme="@android:style/Theme.Light"
        	android:screenOrientation="portrait"></activity>
        <activity android:name="Main"
        	android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"></action>
                <category android:name="android.intent.category.LAUNCHER"></category>
            </intent-filter>
        </activity>
        <activity android:name="PoseTaking"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.DeviceDefault.Dialog.NoActionBar"></activity>
        <activity android:name="PoseReleasing"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.DeviceDefault.Dialog.NoActionBar"></activity>
        <activity android:name="PoseBenefits"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.DeviceDefault.Dialog.NoActionBar"></activity>
    </application>
</manifest>